@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap&text=0123456789");
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Fustat:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');
.countDown{
  width: 100%;
  color: white;
  display: flex;
  flex-direction:row;
  justify-content: center;
  text-shadow:2px 2px 2px #000000db;;
  margin-bottom: 40px;
  div{
    display: flex;
    flex-direction: column;
    margin: 0 7px;


    p{
      font-size: 18px;
      font-family: "DM Mono", monospace;
      line-height: 150%;
      
    }

    span{
      text-align: center;
      font-weight: 600;
      font-family: "DM Mono", monospace;
      font-size: 40px;
      transition: 0.5s;
      background-color:rgba(255, 255, 255, 0.474) ;
        width: 65px;
        border-radius:5px ;

    }
    
  }
} 


.slide4{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-decoration: none;

  }
  .location{
    font-family: "Fustat", sans-serif;
    font-size: 18;
    font-weight: bold;
    color: #542101;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.474);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-right:3px solid #a05e34;
    border-top:3px solid #a05e34;
    border-bottom:3px solid #a05e34;
    border-bottom-right-radius:20px ;
    border-top-right-radius:20px ;



    .locotionIcon{
      width: 40px;
      height: 40px;
      
      background-image: url("../../imgs/map.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color: red;
      filter: brightness(80%);
      filter:grayscale(20%)
      
    }
  }
}