.imgCard{


  
  width: 60%;
  padding: 10px;
  background-color: white;
  transform: rotate(5deg);
  margin-bottom: 50px;
  img{

    z-index: 20;

  }

  P{
    padding: 10px;
    font-family: Arslan, sans-serif;
    font-weight: 600;
    font-size: 18px;

  }
  transition: 1s;

 



}

